.ipynb_checkpoints/*
.vscode/*
recipes/.vscode/*
food-for-thought-and-ml-one-author.ipynb
scrapy_pracitce/*
myApps/recipes_app.py
*.pyc
SWEETVIZ_REPORT.html
recipes/recipes
food-for-thought-and-ml.html
